body {
  color: #000000;
  /* ============================================================== 
       # Our Story
  =================================================================== */
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6 {
  font-weight: 600;
}
body header {
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.07);
  background-color: #ffffff !important;
  background-image: none !important;
  position: sticky;
  top: 0;
  z-index: 20;
  opacity: 1;
  background-size: 10px 10px;
}
body header.inner {
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.07);
  background-color: #ffffff !important;
  background-image: none !important;
}
body .btn {
  min-height: 46px;
  padding: 6px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
body .btn.btn-primary {
  border: 2px solid #20b2aa;
}
body .btn.btn-outline-primary {
  border: 2px solid #20b2aa;
  background: inherit;
}
body .btn.btn-outline-primary:focus, body .btn.btn-outline-primary:hover {
  border-color: #20b2aa;
  background: inherit;
  color: #20b2aa;
}
body .navigation .navbar-expand-xl .navbar-nav .nav-item {
  margin: 0 6px;
}
body .navigation .navbar-expand-xl .navbar-nav .nav-item .nav-link {
  padding: 15px 18px;
}
body .list-style-none {
  list-style-type: none;
}
body .request_form input {
  width: 230px;
  height: 36px;
  font-size: 14px;
  border-color: #ababab;
}
body .request_form button {
  min-height: 36px;
  font-size: 14px;
  border-width: 1px !important;
}
body .au-service {
  border: 1px dashed #20b2aa;
  border-radius: 12px;
  background-color: rgba(32, 178, 170, 0.05);
}
body .banner {
  background-size: 10px 10px;
}
body .banner h3 {
  color: #000000;
}
body footer.section-sm {
  padding: 60px 0;
  background-color: #0b2934;
}
body footer.section-sm .footer-widget h5 {
  text-transform: uppercase;
  border-bottom: 2px solid #20b2aa;
  padding: 0 0 4px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
body footer.section-sm .footer-widget ul li a {
  color: #ffffff;
}
body footer.section-sm .text-black {
  color: #ffffff !important;
}
body .form-section {
  position: relative;
  overflow: hidden;
  z-index: 5;
}
body .form-section h4 {
  font-size: 16px;
  font-weight: 400;
}
body .form-section p {
  font-weight: 500;
}
body .form-section ul li {
  list-style-type: none;
}
body .form-section ul li i {
  color: #20b2aa;
}
body .form-section .form-box {
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
}
body .breadcrumb li a {
  color: #404040;
}
body .breadcrumb li a.active {
  color: #20b2aa;
}
body .our-story-area .story-items .item span {
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 45px;
  border: 4px solid #20b2aa;
  border-radius: 50%;
  font-weight: 800;
  margin-bottom: 30px;
  background: #ffffff;
  color: #232323;
  transition: all 0.35s ease-in-out;
}
body .our-story-area .story-items .single-item:first-child .item span,
body .our-story-area .story-items .single-item .item:hover span {
  background: linear-gradient(90deg, rgb(32, 178, 170) 0%, rgba(32, 178, 170, 0.7) 100%);
  color: #ffffff;
  border: none;
  line-height: 54px;
  transition: all 0.35s ease-in-out;
}
body .our-story-area .story-items {
  position: relative;
  z-index: 1;
}
body .our-story-area .story-items::after {
  position: absolute;
  left: 0;
  top: 25px;
  content: "";
  height: 1px;
  width: 100%;
  border-bottom: 2px dashed #e7e7e7;
  z-index: -1;
}
body .our-story-area .story-items .item h4 {
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 20px;
}
body .our-story-area .story-items .item p {
  margin-bottom: -5px;
  font-size: 14px;
}
body .includes .card {
  border-color: lightseagreen;
  border-width: 2px;
}/*# sourceMappingURL=main.css.map */